
.profile__info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  
  @media screen and (max-width: 1055px) {
    .profile__info {
      align-items: center;
      margin: 0;
    }
  }