.profile {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  @media screen and (max-width: 1055px) {
    .profile {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }
  