.popup__submit-button_disabled {
    background-color: transparent;
    opacity: 0.2;
    color: black;
    border: 1px solid black;
}

.popup__submit-button_disabled:hover {
    opacity: 0.2;
    cursor: default;
}

.popup__submit-button_disabled.popup__submit-button:hover{
    opacity: 0.2;
}

