.profile__edit-button {
    background-image: url(../../../images/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border: solid #fff 1px;
    width: 24px;
    height: 24px;
    margin-left: 15px;
    margin-bottom: 28px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1055px) {
    .profile__edit-button {
      font-size: 14px;
      line-height: 17px;
      position: absolute;
      top: 151px;
      margin-left: 350px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .profile__edit-button {
      width: 18px;
      height: 18px;
      top: 155px;
      margin-left: 226px;
    }
  }
  
  .profile__edit-button:hover {
    opacity: 0.6;
    transition: 0.6s ease-in-out;
  }