.login__link {
    max-width: 358px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 15px auto;
    display: block;
  }