.elements__like-button {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(../../../images/Vector1.svg);
    margin-right: 0px;
    margin-left: auto;
    margin-top: 5px;
    background-color: #fff;
    cursor: pointer;
  }

  .elements__like-button:hover {
    background-image: url(../../../images/Vector.svg);
    opacity: 0.5;
  }

